<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <% if(page === "index"){ %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <% } %>
</head>
<body>
    <div id="app">
        <%- include("shared/header"); %>

        <main>
            <% if(page === "index"){ %>
                <%- include("index"); %>
            <% } else if(page === "about") { %>
                <%- include("about"); %>
            <% } else if(page === "membership") { %>
                <%- include("membership"); %>
            <% } else if(page === "blog") { %>
                <%- include("blog/all"); %>
            <% } else if(page === "error") { %>
                <%- include("error"); %>
            <% } %>

        </main>        

        <%- include("shared/footer"); %>


        <% if(page === "index"){ %>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <script defer>
                const swiper = new Swiper('.swiper', {
                    // Optional parameters
                    direction: 'horizontal',
                    loop: true,
                    autoplay: {
                        delay: 1000,
                        disableOnInteraction: false,
                    },
                    slidesPerView: 6,
                    spaceBetween: 30,
                    breakpoints: {
                        320: {
                            slidesPerView: 3,
                            spaceBetween: 30
                        },
                        640: {
                            slidesPerView: 5,
                            spaceBetween: 30
                        },
                        900: {
                            slidesPerView: 7,
                            spaceBetween: 30
                        }
                    }
                });
            </script>
        <% } %>
    </div>
</body>
</html>